h1, h3, h4 {
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
table, th {
    background-color: blue;
    height: 50px;
    width: 100%;
    text-align: left;
}
.button {
    height: 60px;
    width: 100px;
    background-color: lightgrey;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: blue;
    color: black;
}
.button1:hover {
    background-color: darkcyan;
    color: white;
}
.button2 {
    background-color: blue;
    color: black;
    width: 180px;
}
.button2:hover {
    background-color: darkcyan;
    color: white;
}
.button3 {
    background-color: blue;
    color: black;
}
.button3:hover {
    background-color: darkcyan;
    color: white;
}
.buttony {
    background-color: red;
    color: white;
    height: 100px;
    width: 177px;
    border-style: ridge;
    border-color: darkred;
}
.buttony:hover {
    background-color: darkred;
    border-color: red;
    color: black;
}
.buttonw {
    background-color: lightgrey;
    color: black;
    height: 100px;
    width: 177px;
    border-style: ridge;
    border-color: grey;
}
.buttonw:hover {
    background-color: grey;
    border-color: lightgray;
    color: white;
}
.buttont {
    background-color: #6441a5;
    color: white;
    height: 100px;
    width: 177px;
    border-style: ridge;
    border-color: #b9a3e3;
}
.buttont:hover {
    background-color: #b9a3e3;
    border-color: #6441a5;
    color: black;
}
.buttonl {
    background-color: #0077b5;
    color: white;
    height: 100px;
    width: 177px;
    border-style: ridge;
    border-color: #00a0dc;
}
.buttonl:hover {
    background-color: #00a0dc;
    border-color: #0077b5;
    color: black;
}
.topnav {
overflow: hidden;
background-color: blue;
}

.topnav a {
float: left;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: darkblue;
color: white;
}

.topnav a.active {
background-color: black;
color: blue;
}